<% remote_form_for(@jivepage,
:html => {:id => "jp_page_form"}) do |f| %>
<h5>Page</h5>
<div style="">
<fieldset>  
  <legend>Layout</legend>
  <ul>
    <li>
      <%= f.radio_button :width, Jivepage::COMPACT_LAYOUT %> 
      <label for="jivepage_width_compact">compact</label>
    </li>
    <li>
      <%= f.radio_button :width, Jivepage::WIDE_LAYOUT %> 
      <label for="jivepage_width_wide">wide</label>
    </li>
    <li>
      <%= f.radio_button :width, Jivepage::FLUID_LAYOUT %> 
      <label for="jivepage_width_fluid">fluid</label>
    </li>
  </ul>  
</fieldset>

<fieldset>  
  <legend>Sidebar</legend>
  <ul>
    <li>
      <%= f.radio_button :sidebar, Jivepage::NO_SIDEBAR %> 
      <label for="jivepage_sidebar_none">none</label>
    </li>
    <li>
      <%= f.radio_button :sidebar, Jivepage::LEFT_SIDEBAR %> 
      <label for="jivepage_sidebar_left">left</label>
    </li>
    <li>
      <%= f.radio_button :sidebar, Jivepage::RIGHT_SIDEBAR %> 
      <label for="jivepage_sidebar_right">right</label>
    </li>
  </ul>  
</fieldset>

<fieldset>  
  <legend>Header</legend>
  <ul>
    <li>
      <%= f.radio_button :header, Jivepage::YES_HEADER %> 
      <label for="jivepage_header_yes">yes</label>
    </li>
    <li>
      <%= f.radio_button :header, Jivepage::NO_HEADER %> 
      <label for="jivepage_header_no">no</label>
    </li>
  </ul>  
</fieldset>

<fieldset>  
  <legend>Footer</legend>
  <ul>
    <li>
      <%= f.radio_button :footer, Jivepage::YES_FOOTER %> 
      <label for="jivepage_footer_yes">yes</label>
    </li>
    <li>
      <%= f.radio_button :footer, Jivepage::NO_FOOTER %> 
      <label for="jivepage_footer_no">no</label>
    </li>
  </ul>  
</fieldset>

</div>

<%= submit_tag "Save", :id => "jp_menu_btn_save_page" %>
<% end %>    
