<%= javascript_tag %{
  $j(document).ready(function(){
    $j("#jp_menu > ul").tabs();
  });
  
} %>

<div id="jp_menu">
  <% menu = %w{page site permissions collaborators visitors} %>
  <ul>
  <% for tab in menu %>
  <li><a href="#jp_<%= tab %>"><span><%= tab.capitalize %></span></a></li>
  <% end %>
  </ul>
  
  <% for tab in menu %>
  <div id="jp_<%= tab %>">
    <%= render :partial => "jivepages/menu/#{tab}" %>
  </div>
  <% end %>

</div>

<div id="floating_menu">
  <blockquote>
  <%= link_to('View this page', jivepage_path(@jivepage)) %>
  <br/>
  <% if @jivepage.editable_by?(page_user) %>
    <%= link_to('Delete this page', jivepage_path(@jivepage), :method => :delete,
    :confirm => 'Are you sure?') %>
    <br/>
    <% end %>
    <%= link_to 'All pages', jivepages_path %>
    <br/>
    <br/>
    <% form_for Jivepage.new, :jivepage do %>
      <%= hidden_field_tag "jivepage[site_id]", @jivepage.site_id %>
      <%= submit_tag "New page" %>
    <% end %>  
  </blockquote>
</div>

