<% return unless row -%>
<% first = row.first? %>
<div id="<%= dom_id(row) %>" class="row <%= row.yui_grid_type %><%= ' first' if 
first %>"><%= tool_shed(row) if @use_tool or edit_mode? %>
<div id="<%= dom_id(row, 'container') %>">
<%= columns_for(row) %>

</div>
</div>
